:root {
	--incorrect: rgb(255, 0, 0);
	--correct: rgb(0, 177, 0);
	--less: rgb(255, 208, 0);
	--greater: rgb(255, 208, 0);
}

* {
	font-family: "Roboto", sans-serif;
	font-weight: 400;
	font-style: normal;

	color: white;
	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
	overflow-y: scroll;
	overflow-x: hidden;
	background: #494848;
}

header {
	width: max-content;
	text-align: center;
}

header h1 {
	font-size: 2.5rem;
	text-decoration: underline;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
	margin-bottom: 5%;
}

.guess-results {
	font-size: 2rem;
}

#results-table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0.5rem;
}

#results-table th {
	padding: 0.5rem;
	font-weight: 500;
	position: sticky;
	top: 0;
	z-index: 1;
	border-bottom-color: #eee;
	border-bottom: 0.25rem solid;
}

#results-table tbody td {
	border: 1px rgb(0, 0, 0) solid;
	border-radius: 1rem;
	-webkit-text-stroke: 1px black;
}

#results-table tbody td:nth-child(5) {
	font-size: 3.5rem;
	font-weight: 500;
	font-family: Georgia, "Times New Roman", Times, serif;
}

#results-table .range-cell-wrapper {
	height: 100%;
	width: 100%;
	position: relative;
}

#results-table .range {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 2;
}

#results-table svg {
	z-index: 1;
}

#results-table svg.greater {
	transform: rotate(180deg);
}

#results-table .sprite-cell {
	background-image: var(--bg-image);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

#results-table td[guess-result="greater"],
#results-table td[guess-result="less"] {
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	font-size: 2rem;
	color: white;
}

.guess-wrapper {
	align-self: center;
	width: 70%;
	display: flex;
	margin-top: 60px;
	align-items: start;
	justify-content: center;
}

#guess-input-wrapper {
	display: flex;
	flex-direction: column;
	overflow: visible;
}

#guess-input {
	background-color: white;
	padding: 0.8rem;
	width: 20rem;
	height: 25px;
	border-radius: 25px;
	color: black;
	font-size: large;
	border: 0px;
}

#guess-input:focus {
	outline: none;
	background-color: rgb(243, 230, 215);
	-webkit-transition: background-color 0.5s;
}

#suggestionsList {
	display: none; /* Hidden by default */
	border: 1px solid #ccc;
	background-color: #fff;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#suggestionsList li {
	display: flex;
	align-items: center;
	justify-content: start;
	cursor: pointer;
	background: #494848;
}

#suggestionsList li:hover {
	background-color: #202020;
}

#guess-input-button {
	margin-top: 0.1rem;
	background-color: antiquewhite;
	margin-left: 0.2rem;
	width: 8rem;
	height: 50px;
	border-radius: 25px;
	color: black;
	font-size: 20px;
	border: 0px;
	cursor: pointer;
	-webkit-transition: background-color 1s;
}

#guess-input-button:hover {
	background-color: rgb(150, 134, 114);
	-webkit-transition: background-color 0.2s;
}

#submit-div {
	width: 0;
}

/* Footer style */
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;
	margin: 0;
	left: 0;
	background-color: #252525;
	text-align: center;
	font-size: 14px;
}

footer p {
	background-color: inherit;
}
