* {
	background: #494848;

	font-family: "Source Code Pro", monospace;
	font-optical-sizing: auto;
	font-weight: 450;
	font-style: normal;
	color: white;

	margin: 0;
	padding: 0;
}

body {
	display: flex;
	flex-direction: column;
	align-items: center;
}

header {
	width: max-content;
	text-align: center;
}

header h1 {
	font-size: 2.5rem;
	text-decoration: underline;
}

main {
	display: flex;
	flex-direction: column;
	align-items: center;
	text-align: center;
}

/* ? Does th still exist?
#results-table th {
	padding: 1rem;
	text-decoration: underline;
} */

#results-table td, tr {
	padding: 0.2rem 0.5rem;
	border: 1px white solid;
	
}

#results-table td[guess-result="correct"] {
	background-color: rgb(0, 177, 0);
}
#results-table td[guess-result="incorrect"] {
	background-color: rgb(255, 0, 0);
}
#results-table td[guess-result="partial"] {
	background-color: rgb(255, 208, 0);
}
#results-table td[guess-result="greater"] {
	background-color: red;
	background-image: url(../images/upArrow.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}
#results-table td[guess-result="less"] {
	background-color: red;
	background-image: url(../images/downArrow.png);
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
}

.guess-wrapper {
	align-self: center;
	width: 70%;
	display: flex;
	align-items: start;
	justify-content: center;
}

#guess-input-wrapper {
	display: flex;
	flex-direction: column;
	overflow: visible;
}

#guess-input {
	background-color: white;
	padding: 0.8rem;
	width: 20rem;
	height: 25px;
	border-radius: 25px;
	color: black;
	font-size: large;
}

#suggestionsList {
	display: none; /* Hidden by default */
	border: 1px solid #ccc;
	background-color: #fff;
	list-style-type: none;
	padding: 0;
	margin: 0;
}

#suggestionsList li {
	padding: 5px;
	cursor: pointer;
}

#suggestionsList li:hover {
	background-color: #eee;
}

#guess-input-button {
	background-color: antiquewhite;
	margin-left: 0.2rem;
	width: 8rem;
	height: 50px;
	border-radius: 25px;
	color: black;
	font-size: 20px;
	cursor: pointer;
}

#submit-div {
	width: 0;
}

/* Footer style */
footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 5%;
	margin: 0;
	left: 0;
	background-color: #252525;
	text-align: center;
	font-size: 14px;
}

footer p {
	background-color: inherit;
}
